robotframework
robotframework-seleniumlibrary
#robotframework-requests
#robotframework-pabot
#robotframework-databaselibrary
#robotframework-jsonlibrary
robotframework-browser
allure-robotframework
selenium
#request
pyyaml
#openpyxl
#pandas
#faker
#python-dotenv